body {
    font-family: Georgia, serif;
    background-color: #f4f0e6;
    text-align: center;
    padding: 30px;
}

h1 {
    font-size: 36px;
}

img {
    width: 350px;
    margin: 20px 0;
}

p {
    width: 60%;
    margin: auto;
    font-size: 18px;
    line-height: 1.5;
}

.highlight {
    background-color: orange;
}

.quote {
    color: red;
    font-weight: bold;
}
